{% extends '../base.html' %}

{% block header %}
    <h1>{% block title %}Add new character{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="flex-col" method="post" enctype=multipart/form-data>
        <label for="name">Character name: </label>
        <input name="name" id="name" value="{{ request.form["name"] }}" required>
        <label for="actor">Played by: </label>
        <input name="actor" id="actor" value="{{ request.form["actor"] }}" required>
        <label for="info">Info: </label>
        <input name="info" id="info" value="{{ request.form["info"] }}" required>
        <label for="img">Image</label>
        <input type="file" name="img">
        <input type="submit" value="Save">
    </form>

{% endblock %}