{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Characters {% endblock %}</h1>
{% endblock %}

{% block buttons %}
    <ul>
        <li><a href="{{ url_for("add_character") }}" class="button">Add Character</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="flex-row">
        {% for character in characters %}
            <div class="polaroid">
                <img class="image" src="{{ url_for('static', filename=character['img']) }}" style="width:100%">
                <div class="container"><a href="{{ url_for('view_character', char_id=character['id']) }}" class="link">{{ character['name'] }}</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}