{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} {{ episode['season'] }}x{{ episode['num'] }}: {{ episode['name'] }} {% endblock %}</h1>
{% endblock %}

{% block buttons %}
    <ul>
        <li><a href="{{ url_for('edit_episode', ep_id=episode['id']) }}" class="button">Edit episode</a></li>
    </ul>
{% endblock %}

{% block content %}
    <img class="image" src="{{ url_for('static', filename=episode['img']) }}" style="width: 50%">
    <p>Date released: {{ episode['date_released'] }}</p>
    <p>Directed by: {{ episode['directed_by'] }}</p>
    <p>Written by: {{ episode['written_by'] }}</p>
    <p>{{ episode['info'] }}</p>
{% endblock %}