{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Add new episode{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="flex-col" method="post" enctype=multipart/form-data>
        <label for="season">Season number: </label>
        <input name="season" id="season" value="{{ request.form["season"] }}" required>
        <label for="num">Episode number: </label>
        <input name="num" id="num" value="{{ request.form["num"] }}" required>
        <label for="name">Episode name: </label>
        <input name="name" id="name" value="{{ request.form["name"] }}" required>
        <label for="date">Date released: </label>
        <input name="date" id="date" value="{{ request.form["date"] }}" required>
        <label for="directed_by">Directed by: </label>
        <input name="directed_by" id="directed_by" value="{{ request.form["directed_by"] }}" required>
        <label for="written_by">Written by: </label>
        <input name="written_by" id="written_by" value="{{ request.form["written_by"] }}" required>
        <label for="info">Info: </label>
        <input name="info" id="info" value="{{ request.form["info"] }}" required>
        <label for="img">Image</label>
        <input type="file" name="img">
        <input type="submit" value="Save">
    </form>

{% endblock %}