{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Episodes {% endblock %}</h1>
{% endblock %}

{% block buttons %}
    <ul>
        <li><a href="{{ url_for("add_episode") }}" class="button">Add Episode</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="flex-row">
        {% for episode in episodes %}
            <div class="polaroid">
                <img class="image" src="{{ url_for('static', filename=episode['img']) }}">
                <div class="container"><a href="{{ url_for('view_episode', ep_id=episode['id']) }}" class="link">{{ episode['season'] }}x{{ episode['num'] }}: {{ episode['name'] }}</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}