{% extends 'base.html' %}

{% block content %}
        <div class="column">
            <img class="image" src="{{url_for('static', filename='main.jpg')}}" style="width: 40%; padding-right: 20px;" align="left" />
            <h2>About the Show - Buffy the Vampire Slayer</h2>
            <p>Buffy the Vampire Slayer is an American supernatural drama television series based on the 1992 film of the same name. It was created by Joss Whedon under his production tag, Mutant Enemy Productions, with later co-executive producers being Jane Espenson, David Fury, David Greenwalt, Doug Petrie, Marti Noxon, and David Solomon.</p>
            <p>The series premiered on March 10, 1997, on The WB and concluded on May 20, 2003, on UPN. The series narrative follows Buffy Summers (played by Sarah Michelle Gellar), the latest in a line of young women known as "Vampire Slayers", or simply "Slayers". In the story, Slayers, or the "Chosen Ones", are chosen by fate to battle against vampires, demons and other forces of darkness. Buffy wants to live a normal life, but as the series progresses, she learns to embrace her destiny. Like previous Slayers, Buffy is aided by a Watcher, who guides, teaches and trains her. Unlike her predecessors, Buffy surrounds herself with a circle of loyal friends who become known as the "Scooby Gang".</p>
            <p>The series received critical and popular acclaim and usually reached between four and six million viewers on original airings. Although such ratings are lower than successful shows on the "big four" networks (ABC, CBS, NBC and Fox), they were a success for the relatively new and smaller WB Television Network.</p>
            <p>Despite the fact that Buffy the Vampire Slayer was almost entirely ignored by major award shows during its run, the series was nominated for the American Film Institute Award for Drama Series of the Year, Gellar was nominated for the Golden Globe Award for Best Actress – Television Series Drama for her performance in the show and the series was nominated five times for Television Critics Association Awards, winning once in 2003 for the Television Critics Association Heritage Award.</p>
            <p>The success of Buffy has led to hundreds of tie-in products, including novels, comics and video games. The series has received attention in fandom (including fan films), parody, and academia has influenced the direction of other television series. The series, as well as its spinoff series Angel and extensions thereof, have been collectively termed the "Buffyverse". As of 2018, a second spin-off of the series was being developed for television, with Monica Owusu-Breen as showrunner.</p>
        </div>
    <hr>
    <div class="column">
        <img class="image" src="{{ url_for('static', filename='watchparty.jpg') }}" style="width: 60%; padding-left: 20px;" align="right">
        <h2>About the WATCH PARTY</h2>
        <p>This is a fan page dedicated to the show 'Buffy the Vampire Slayer'.</p>
        <p>This upcoming month we are planning to host a virtual watch party - and we invite all of you to join us!</p>
        <p>Below you will find a link to get all the info on the dates and episodes we are watching.</p>
        <p>To participate please apply using the form below.</p>
        <h3><i>*quaking in our stylish yet affordable boots*</i></h3>
    </div>
    <hr>

{% endblock %}