{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit season: {{ season['name'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <img class="image" src="{{ url_for('static', filename=season['img']) }}" style="width: 50%;">
    <form class="flex-col" method="post">
        <label for="num">Season number: </label>
        <input name="num" id="num" value="{{ request.form["num"] or season['num'] }}" required>
        <label for="name">Season name: </label>
        <input name="name" id="name" value="{{ request.form["name"] or season['name'] }}" required>
        <label for="info">Info: </label>
        <input name="info" id="info" value="{{ request.form["info"] or season['info'] }}" required>
        <input type="submit" value="Save">
    </form>

    <form action="{{ url_for('delete_season', s_id=season['id']) }}" method="post" style="margin-top: 10%">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>

{% endblock %}